
	<!--==================================================-->
	<!-- Start Euildint Breatcome Area -->
	<!--==================================================-->
	<div class="breatcome-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="breatcome-content">
						<div class="breatcome-title">
							<h1>About Us</h1>
						</div>
						<div class="bratcome-text">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li>About Us</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Breatcome Area -->
	<!--==================================================-->


	<!--==================================================-->
	<!-- Start Euildint About Area -->
	<!--==================================================-->
	<div class="about-area inner-page wow animate__slideInUp">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="about-thumb wow animate__slideInUp">
						<img src="assets/images/about/about.jpg" alt="">
						<div class="about-shape">
							<img src="assets/images/about/about-shape.png" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="section-title">
						<div class="section-shape">
							<img src="assets/images/about/section-shape.png" alt="">
						</div>
						<div class="section-sub-title">
							<h4>Superior Construction</h4>
						</div>
						<div class="section-main-title about">
							<h2>We Make Finest Architectural</h2>
							<h2>Design With Great Passion</h2>
						</div>
					</div>
					<div class="about-content wow animate__slideInUp">
						<div class="about-discribtion">
							<p>Quisque dignissim enim diam, eget pulvinar ex viverra id. Nulla a lobortis lectus, id volutpat magna. Morbi consequat porttitor fermentum. Nulla vestibulum tincidunt viverra. Vestibulum accumsan</p>
						</div>
						<!-- start process bar -->
						<div class="process-ber-plugin">
							<span class="process-bar">Customer Satisficed </span>
							<div id="bar1" class="barfiller">
								<div class="tipWrap" style="display: inline;">
									<span class="tip" style="left: 468.814px; transition: left 7s ease-in-out 0s;">78%</span>
								</div>
								<span class="fill" data-percentage="78" style="background: rgb(22, 181, 151); width: 505.791px; transition: width 7s ease-in-out 0s;"></span>
							</div>  
							<span class="process-bar">Residential Roofing</span>
							<div id="bar2" class="barfiller">
								<div class="tipWrap" style="display: inline;">
									<span class="tip" style="left: 403.254px; transition: left 7s ease-in-out 0s;">55%</span>
								</div>
								<span class="fill my-class" data-percentage="55" style="background: rgb(22, 181, 151); width: 438.352px; transition: width 7s ease-in-out 0s;"></span>
							</div>
						</div>
						<!-- End process bar -->
						<div class="row">
							<div class="col-lg-6">
								<!--start about single box -->
								<div class="about-single-box">
									<div class="about-icon">
										<img src="assets/images/about/about-icon1.png" alt="">
									</div>
									<div class="about-text">
										<h4>Worldwide Service</h4>
										<p>Lorem ipsum is simply velit anod ipas aliquet enean quis.</p>
									</div>
								</div>
								<!--end about single box -->
							</div>
							<div class="col-lg-6 col-mdd-6">
								<!--start about single box -->
								<div class="about-single-box">
									<div class="about-icon">
										<img src="assets/images/about/about-icon2.png" alt="">
									</div>
									<div class="about-text">
										<h4>Awward Winner</h4>
										<p>Lorem ipsum is simply velit anod ipas aliquet enean quis.</p>
									</div>
								</div>
								<!--end about single box -->
							</div>
						</div>
						<div class="eulding-btn about">
							<a href="#">Read More <i class="bi bi-arrow-up-right-circle-fill"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint About Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Euildint Contact Area -->
	<!--==================================================-->
	<div class="contact-area wow animate__slideInUp">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7 col-md-12">
					<div class="section-title">
						<div class="section-main-title contact">
							<h2>Contact us Today And Let us</h2>
							<h2>Know What you Need</h2>
						</div>
					</div>
					<div class="contact-discription">
						<p>When does a mere internet 'SEO' company grow into a trusted partner that stays in front of the latest industry trends? When it's time to partner with Mocer, that's when. saidul islam</p>
					</div>
					<div class="eulding-btn">
						<a href="#">Contact Us <i class="bi bi-arrow-up-right-circle-fill"></i></a>
					</div>
				</div>
				<div class="col-lg-5 col-md-6">
					<div class="contact-thumb wow animate__slideInRight">
						<img src="assets/images/resource/contact-thumb.png" alt="">
						<div class="contact-shape">
							<img src="assets/images/resource/contact-shape.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Contact Area -->
	<!--==================================================-->

		<!--==================================================-->
	<!-- Start Euildint Team Area -->
	<!--==================================================-->
	<div class="team-area inner-page animate__slideInUp">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- start section title -->
					<div class="section-title text-center">
						<div class="section-shape">
							<img src="assets/images/about/section-shape.png" alt="">
						</div>
						<div class="section-sub-title">
							<h4>OUR WORKERS</h4>
						</div>
						<div class="section-main-title">
							<h2>Working With Excellentour </h2>
							<h2>Great Team</h2>
						</div>
					</div>
					<!-- End section title -->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<!-- start team items-box -->
					<div class="team-items-box wow animate__zoomIn">
						<div class="team-thumb">
							<img src="assets/images/team/team1.png" alt="">
							<div class="team-icon style-two">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								</ul>
							</div>
							<div class="team-main-icon style-two">
								<a href="#"><i class="bi bi-plus-lg"></i></a>
							</div>
							<div class="team-content">
								<h4><a href="team-details.html">Kevin Martin</a></h4>
								<span>Ceo Transport</span>
							</div>
						</div>
					</div>
					<!-- End team items-box -->
				</div>
				<div class="col-lg-3 col-md-6">
					<!-- start team items-box -->
					<div class="team-items-box wow animate__zoomIn">
						<div class="team-thumb">
							<img src="assets/images/team/team2.png" alt="">
							<div class="team-icon style-two">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								</ul>
							</div>
							<div class="team-main-icon style-two">
								<a href="#"><i class="bi bi-plus-lg"></i></a>
							</div>
							<div class="team-content">
								<h4><a href="team-details.html">Roten Barsaw</a></h4>
								<span>Founder</span>
							</div>
						</div>
					</div>
					<!-- End team items-box -->
				</div>
				<div class="col-lg-3 col-md-6">
					<!-- start team items-box -->
					<div class="team-items-box wow animate__zoomIn">
						<div class="team-thumb">
							<img src="assets/images/team/team3.png" alt="">
							<div class="team-icon style-two">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								</ul>
							</div>
							<div class="team-main-icon style-two">
								<a href="#"><i class="bi bi-plus-lg"></i></a>
							</div>
							<div class="team-content">
								<h4><a href="team-details.html">Barsaw Albart</a></h4>
								<span>Founder</span>
							</div>
						</div>
					</div>
					<!-- End team items-box -->
				</div>
				<div class="col-lg-3 col-md-6">
					<!-- start team items-box -->
					<div class="team-items-box wow animate__zoomIn">
						<div class="team-thumb">
							<img src="assets/images/team/team4.png" alt="">
							<div class="team-icon style-two">
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								</ul>
							</div>
							<div class="team-main-icon style-two">
								<a href="#"><i class="bi bi-plus-lg"></i></a>
							</div>
							<div class="team-content">
								<h4><a href="team-details.html">Roten Burl</a></h4>
								<span>Founder</span>
							</div>
						</div>
					</div>
					<!-- End team items-box -->
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Team Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Euildint Faq Area -->
	<!--==================================================-->
	<div class="faq-area style-two wow animate__slideInUp">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-12">
					<div class="faq-content">
						<div class="section-title">
							<div class="section-sub-title faq">
								<h4>Frequently Asked Questions</h4>
							</div>
							<div class="section-main-title faq">
								<h2>Questions & Answers</h2>
							</div>
							<div class="faq-discripition">
								<p>Providing legal advice, contract drafting, compliance assistance, intellectual property protection, and other legal support for businesses. Creating visual content, such as logos, brochures, infographics. The timeline for seeing results depends on the specific services you choose and the current state of your business. </p>
							</div>
						</div>
						<!-- start accordion -->
						<div class="tab_container wow animate__slideInUp">
							<div id="tab1" class="tab_content">
								<ul class="accordion">
									<li class="faq">
										<a class="active"><span> What services does your business provide? </span></a>
										<p class="faq" style="display: block;"> <span style="display: block;">How much do your services cost?</span>Our pricing varies depending on the specific services you require and the scope of your project. We offer customized solutions to fit each client's unique needs and budget. Please contact us for a quote.</p>
									</li>
									<li class="faq">
										<a class=""><span>Do you offer any guarantees or refunds? </span></a>
										<p class="faq" style="display: none;"> <span style="display: block;">How much do your services cost?</span>Our pricing varies depending on the specific services you require and the scope of your project. We offer customized solutions to fit each client's unique needs and budget. Please contact us for a quote.</p>
									</li>
									<li class="faq">
										<a><span>How do I get started with your services? </span></a>
										<p class="faq"> <span style="display: block;">How much do your services cost?</span>Our pricing varies depending on the specific services you require and the scope of your project. We offer customized solutions to fit each client's unique needs and budget. Please contact us for a quote.</p>
									</li>
									<li class="faq">
										<a><span> How do I get started with your services?</span></a>
										<p class="faq"> <span style="display: block;">How much do your services cost?</span>Our pricing varies depending on the specific services you require and the scope of your project. We offer customized solutions to fit each client's unique needs and budget. Please contact us for a quote.</p>
									</li>
								</ul>
							</div>
						</div>
						<!-- End accordion -->
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="single-video style-two text-center">
						<div class="video-icon style-two">
							<a class="video-vemo-icon venobox vbox-item" data-vbtype="youtube" data-autoplay="true" href="https://youtu.be/BS4TUd7FJSg"><i class="bi bi-play"></i></a>
						</div>
						<div class="faq-single-box wow animate__slideInUp">
							<div class="faq-item-content">
								<div class="faq-icon-thumb">
									<img src="assets/images/resource/faq-icon.png" alt="">
								</div>
								<div class="faq-title">
									<h4>We Have Many Happy Clients Allover World Wide</h4>
									<span><i class="bi bi-chevron-double-right"></i> Award Wining Agency</span>
									<span><i class="bi bi-chevron-double-right"></i> Higest Success Rates</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Faq Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Euildint Testimonial Area -->
	<!--==================================================-->
	<div class="testimonial-area style-two inner-page wow animate__slideInUp">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<!-- start section title -->
					<div class="section-title text-center">
						<div class="section-shape">
							<img src="assets/images/about/section-shape.png" alt="">
						</div>
						<div class="section-sub-title">
							<h4>TESTIMONIALS</h4>
						</div>
						<div class="section-main-title">
							<h2>Our Happy Clients </h2>
							<h2>Says About Us</h2>
						</div>
					</div>
					<!-- End section title -->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<!-- start testimonial items box -->
					<div class="testi-itmes-box">
						<div class="testi-itmes-icon">
							<i class="fas fa-quote-right"></i>
						</div>
						<div class="testi-items-discription">
							<p>Lorem ipsum dolor sit amet,eiusmod  consectetur adipiscing tempor  elit, sed do eiusmod tempor at incididunt ut labore et dolore magna.enim minim nostrud   veniam, nostrud  </p>
						</div>
						<div class="testi-items-content">
							<div class="testi-items-thumb">
								<img src="assets/images/testimonial/testi5.png" alt="">
							</div>
							<div class="testi-items-title">
								<h4>Peter Wright</h4>
								<span>Manager</span>
							</div>
						</div>
						<div class="testi-rating">
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
						</div>
					</div>
					<!-- start testimonial items box -->
				</div>
				<div class="col-lg-4 col-md-6">
					<!-- start testimonial items box -->
					<div class="testi-itmes-box">
						<div class="testi-itmes-icon">
							<i class="fas fa-quote-right"></i>
						</div>
						<div class="testi-items-discription">
							<p>Lorem ipsum dolor sit amet,eiusmod  consectetur adipiscing tempor  elit, sed do eiusmod tempor at incididunt ut labore et dolore magna.enim minim nostrud   veniam, nostrud </p>
						</div>
						<div class="testi-items-content">
							<div class="testi-items-thumb">
								<img src="assets/images/testimonial/testi5.png" alt="">
							</div>
							<div class="testi-items-title">
								<h4>Peter Wright</h4>
								<span>Manager</span>
							</div>
						</div>
						<div class="testi-rating">
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
						</div>
					</div>
					<!-- start testimonial items box -->
				</div>
				<div class="col-lg-4 col-md-6">
					<!-- start testimonial items box -->
					<div class="testi-itmes-box">
						<div class="testi-itmes-icon">
							<i class="fas fa-quote-right"></i>
						</div>
						<div class="testi-items-discription">
							<p>Lorem ipsum dolor sit amet,eiusmod  consectetur adipiscing tempor  elit, sed do eiusmod tempor at incididunt ut labore et dolore magna.enim minim nostrud   veniam, nostrud</p>
						</div>
						<div class="testi-items-content">
							<div class="testi-items-thumb">
								<img src="assets/images/testimonial/testi5.png" alt="">
							</div>
							<div class="testi-items-title">
								<h4>Peter Wright</h4>
								<span>Manager</span>
							</div>
						</div>
						<div class="testi-rating">
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
						</div>
					</div>
					<!-- start testimonial items box -->
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Testimonial Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Euildint Brand Area -->
	<!--==================================================-->
	<div class="brand-area wow animate__slideInUp">
		<div class="container-fluid">
			<div class="row">
				<div class="brand_list owl-carousel">
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand1.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand2.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand3.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand4.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand5.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand6.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand1.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand2.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand3.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand4.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand5.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand6.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Brand Area -->
	<!--==================================================-->

		<!--==================================================-->
	<!-- Start Euildint Sidebar Area -->
	<!--==================================================-->
	<div class="sidebar-group info-group">
		<div class="sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						<i class="bi bi-x-lg"></i>
					</a>
				</div>
				<div class="sidebar-textwidget">
					<div class="sidebar-info-contents">
						<div class="content-inner">
							<div class="sidebar-logo">
								<a href="index.html"><img src="assets/images/logo2.png" alt="logo"></a>
							</div>
							<div class="about-box">
								<h2>About Us</h2>
								<p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
							</div>
							<div class="contact-info">
								<h2>Contact Info</h2>
								<ul class="list-style-one">
									<li><i class="bi bi-geo-alt-fill"></i>6391 Elgin St. Celina, Delaware</li>
									<li><i class="bi bi-telephone-fill"></i>(+001) 123-456-789</li>
									<li><i class="bi bi-envelope"></i> info@example.com</li>
									<li><i class="bi bi-alarm-fill"></i> Week Days: 08.00 to 10.00
									</li>
								</ul>
							</div>
							<ul class="social-box">
								<li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
								<li class="twitter"><a href="#" class="fab fa-instagram"></a></li>
								<li class="linkedin"><a href="#" class="fab fa-twitter"></a></li>
								<li class="instagram"><a href="#" class="fab fa-pinterest-p"></a></li>
								<li class="youtube"><a href="#" class="fab fa-linkedin-in"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Sidebar Area -->
	<!--==================================================-->
