
	<!--==================================================-->
	<!-- Start Euildint Breatcome Area -->
	<!--==================================================-->
	<div class="breatcome-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="breatcome-content">
						<div class="breatcome-title">
							<h1>Pricing Page</h1>
						</div>
						<div class="bratcome-text">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li>Pricing</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Breatcome Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Euildint Pricing Area -->
	<!--==================================================-->
	<div class="pricing-area inner-page wow animate__slideInUp">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- start section title -->
					<div class="section-title text-center">
						<div class="section-shape">
							<img src="assets/images/about/section-shape.png" alt="">
						</div>
						<div class="section-sub-title">
							<h4>Pricing Plan</h4>
						</div>
						<div class="section-main-title pricing">
							<h2>Our Best Price Plan</h2>
						</div>
					</div>
					<!-- End section title -->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<!-- start pricing single box -->
					<div class="pricing-single-box wow animate__slideInUp">
						<div class="pricing-content">
							<div class="pricing-title">
								<h3>Business Plan</h3>
							</div>
							<div class="pricing-rate">
								<h3>$424<span>/Per Month</span></h3>
							</div>
							<div class="pricing-list">
								<span class="active"><i class="bi bi-check"></i> Five brand monitors</span>
								<span class="active"><i class="bi bi-check"></i> 12-month fixed price</span>
								<span><i class="bi bi-x"></i> Transmission charge</span>
								<span><i class="bi bi-x"></i> Marketing strategy</span>
								<span><i class="bi bi-x"></i> Free Server Domain</span>
							</div>
						</div>
						<div class="pircing-btn">
							<a href="#">Purchase Now</a>
						</div>
					</div>
					<!-- End pricing single box -->
				</div>
				<div class="col-lg-4 col-md-6">
					<!-- start pricing single box -->
					<div class="pricing-single-box wow animate__slideInUp">
						<div class="pricing-content">
							<div class="pricing-title">
								<h3>Business Plan</h3>
							</div>
							<div class="pricing-rate">
								<h3>$500<span>/Per Years</span></h3>
							</div>
							<div class="pricing-list">
								<span class="active"><i class="bi bi-check"></i> Five brand monitors</span>
								<span class="active"><i class="bi bi-check"></i> 12-month fixed price</span>
								<span><i class="bi bi-x"></i> Transmission charge</span>
								<span><i class="bi bi-x"></i> Marketing strategy</span>
								<span><i class="bi bi-x"></i> Free Server Domain</span>
							</div>
						</div>
						<div class="pircing-btn">
							<a href="#">Purchase Now</a>
						</div>
					</div>
					<!-- End pricing single box -->
				</div>
				<div class="col-lg-4 col-md-6">
					<!-- start pricing single box -->
					<div class="pricing-single-box wow animate__slideInUp">
						<div class="pricing-content">
							<div class="pricing-title">
								<h3>Business Plan</h3>
							</div>
							<div class="pricing-rate">
								<h3>$300<span>/Per Month</span></h3>
							</div>
							<div class="pricing-list">
								<span class="active"><i class="bi bi-check"></i> Five brand monitors</span>
								<span class="active"><i class="bi bi-check"></i> 12-month fixed price</span>
								<span><i class="bi bi-x"></i> Transmission charge</span>
								<span><i class="bi bi-x"></i> Marketing strategy</span>
								<span><i class="bi bi-x"></i> Free Server Domain</span>
							</div>
						</div>
						<div class="pircing-btn">
							<a href="#">Purchase Now</a>
						</div>
					</div>
					<!-- End pricing single box -->
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- Start Euildint Pricing Area -->
	<!--==================================================-->


	<!--==================================================-->
	<!-- Start Euildint Brand Area -->
	<!--==================================================-->
	<div class="brand-area wow animate__slideInUp">
		<div class="container-fluid">
			<div class="row">
				<div class="brand_list owl-carousel">
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand1.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand2.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand3.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand4.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand5.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand6.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand1.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand2.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand3.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand4.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand5.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand6.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Brand Area -->
	<!--==================================================-->

		<!--==================================================-->
	<!-- Start Euildint Sidebar Area -->
	<!--==================================================-->
	<div class="sidebar-group info-group">
		<div class="sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						<i class="bi bi-x-lg"></i>
					</a>
				</div>
				<div class="sidebar-textwidget">
					<div class="sidebar-info-contents">
						<div class="content-inner">
							<div class="sidebar-logo">
								<a href="index.html"><img src="assets/images/logo2.png" alt="logo"></a>
							</div>
							<div class="about-box">
								<h2>About Us</h2>
								<p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
							</div>
							<div class="contact-info">
								<h2>Contact Info</h2>
								<ul class="list-style-one">
									<li><i class="bi bi-geo-alt-fill"></i>6391 Elgin St. Celina, Delaware</li>
									<li><i class="bi bi-telephone-fill"></i>(+001) 123-456-789</li>
									<li><i class="bi bi-envelope"></i> info@example.com</li>
									<li><i class="bi bi-alarm-fill"></i> Week Days: 08.00 to 10.00
									</li>
								</ul>
							</div>
							<ul class="social-box">
								<li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
								<li class="twitter"><a href="#" class="fab fa-instagram"></a></li>
								<li class="linkedin"><a href="#" class="fab fa-twitter"></a></li>
								<li class="instagram"><a href="#" class="fab fa-pinterest-p"></a></li>
								<li class="youtube"><a href="#" class="fab fa-linkedin-in"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Sidebar Area -->
	<!--==================================================-->
