
	<!--==================================================-->
	<!-- Start Euildint Breatcome Area -->
	<!--==================================================-->
	<div class="breatcome-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="breatcome-content">
						<div class="breatcome-title">
							<h1>Team Page</h1>
						</div>
						<div class="bratcome-text">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li>Team</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Breatcome Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Euildint Team Area -->
	<!--==================================================-->
	<div class="team-details-area">
		<div class="container">
			<div class="row">
				<div class="col-xxl-8 col-xl-8">
					<div class="ba-team-details-author-skill-area pb-20 pb-xl-0">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="team-details-author-img">
									<img src="assets/images/team/team-details.png" alt="image">
								</div>
							</div>
							<div class=" col-lg-6 col-md-6">
								<div class="team-details-author-content">
									<div class="team-details-author-name">
										<h5>Anthony Jeferson</h5>
										<span>Constraction Designer</span>
									</div>
									<div class="team-details-author-experience">
										<ul>
											<li>
												<span class="label">Position:</span>
												<span class="value">Co Founder</span>
											</li>
											<li>
												<span class="label">Practice Area:</span>
												<span class="value">Realestate Agen</span>
											</li>
											<li>
												<span class="label">Experience:</span>
												<span class="value">12 Years</span>
											</li>
											<li>
												<span class="label">Address:</span>
												<span class="value">Millington, Ave, TN 38053</span>
											</li>
											<li>
												<span class="label">Phone:</span>
												<span class="value"><a href="tel:+00568746987">+00 568 746 987</a></span>
											</li>
											<li>
												<span class="label">Email:</span>
												<a href="mailto:youremail@gmail.com" class="value">youremail@gmail.com</a>
											</li>
											<li>
												<span class="label">Website:</span>
												<a href="yourwebsitehere.com" class="value">yourwebsitehere.com</a>
											</li>
											<li>
												<span class="label">Fax: </span>
												<a class="value" href="tel:568746987">568 746 987</a>
											</li>
										</ul>
									</div>
									<div class="team-card-box-social">
										<a href="#"><i class="fab fa-facebook-f"></i></a>
										<a href="#"><i class="fab fa-twitter"></i></a>
										<a href="#"><i class="fab fa-instagram"></i></a>
										<a href="#"><i class="fab fa-youtube"></i></a>
									 </div>
								</div>
							</div>
						</div>
					</div>
					<!-- /. team details author skill -->
				</div>
				<div class="col-lg-4 col-md-12">
					<!-- start progress bar -->
					<div class="process-ber-plugin">
						<span class="process-bar style-two">Customer Satisficed </span>
						<div id="bar1" class="barfiller style-two">
							<div class="tipWrap" style="display: inline;">
								<span class="tip" style="left: 255.24px; transition: left 7s ease-in-out 0s;">70%</span>
							</div>
							<span class="fill" data-percentage="70" style="background: rgb(22, 181, 151); width: 291.199px; transition: width 7s ease-in-out 0s;"></span>
						</div>  
						<span class="process-bar style-two">Customer Satisficed</span>
						<div id="bar2" class="barfiller style-two">
							<div class="tipWrap" style="display: inline;">
								<span class="tip" style="left: 212.621px; transition: left 7s ease-in-out 0s;">60%</span>
							</div>
							<span class="fill my-class" data-percentage="60" style="background: rgb(22, 181, 151); width: 249.599px; transition: width 7s ease-in-out 0s;"></span>
						</div>
						<span class="process-bar style-two">Customer Satisficed</span>
						<div id="bar3" class="barfiller style-two">
							<div class="tipWrap" style="display: inline;">
								<span class="tip" style="left: 327.075px; transition: left 7s ease-in-out 0s;">87%</span>
							</div>
							<span class="fill my-class" data-percentage="87" style="background: rgb(22, 181, 151); width: 361.918px; transition: width 7s ease-in-out 0s;"></span>
						</div>
						<span class="process-bar style-two">Customer Satisficed</span>
						<div id="bar4" class="barfiller style-two">
							<div class="tipWrap" style="display: inline;">
								<span class="tip" style="left: 171.324px; transition: left 7s ease-in-out 0s;">70%</span>
							</div>
							<span class="fill my-class" data-percentage="70" style="background: rgb(22, 181, 151); width: 207.999px; transition: width 7s ease-in-out 0s;"></span>
						</div>
						<span class="process-bar style-two">Customer Satisficed</span>
						<div id="bar5" class="barfiller style-two">
							<div class="tipWrap" style="display: inline;">
								<span class="tip" style="left: 212.621px; transition: left 7s ease-in-out 0s;">60%</span>
							</div>
							<span class="fill my-class" data-percentage="60" style="background: rgb(22, 181, 151); width: 249.599px; transition: width 7s ease-in-out 0s;"></span>
						</div>
					</div>
					<!-- end progress bar -->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="team-details-content">
						<div class="team-details-title">
							<h4>Personal Experience</h4>
						</div>
						<div class="team-details-discription">
							<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere , omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus.
							</p>
							<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="contact-box inner team">
						<div class="contact-title inner team">
							<h4>Leave A Comment</h4>
						</div>
						<form action="https://formspree.io/f/myyleorq" method="POST" id="it-form">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="form-box team">
										<input type="text" name="name" placeholder="Name*">
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="form-box team">
										<input type="text" name="email" placeholder="E-mail*">
									</div>
								</div>
								<div class="col-lg-12 col-md-12">
									<div class="form-box team">
										<input type="text" name="email" placeholder="Website*">
									</div>
								</div>
								<div class="col-lg-12 col-md-12">
									<div class="form-box team">
										<textarea name="massage" id="massage" cols="30" rows="10" placeholder="Your Comments*"></textarea>
									</div>
								</div>
								<div class="col-lg-12 col-md-12">
									<div class="form-box-button team">
										<button type="Submit">Send Message</button>
									</div>
								</div>
							</div>
						</form>
						<div id="status"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Team Area -->
	<!--==================================================-->


	<!--==================================================-->
	<!-- Start Euildint Brand Area -->
	<!--==================================================-->
	<div class="brand-area wow animate__slideInUp">
		<div class="container-fluid">
			<div class="row">
				<div class="brand_list owl-carousel">
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand1.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand2.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand3.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand4.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand5.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand6.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand1.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand2.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand3.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand4.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand5.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand6.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Brand Area -->
	<!--==================================================-->

		<!--==================================================-->
	<!-- Start Euildint Sidebar Area -->
	<!--==================================================-->
	<div class="sidebar-group info-group">
		<div class="sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						<i class="bi bi-x-lg"></i>
					</a>
				</div>
				<div class="sidebar-textwidget">
					<div class="sidebar-info-contents">
						<div class="content-inner">
							<div class="sidebar-logo">
								<a href="index.html"><img src="assets/images/logo2.png" alt="logo"></a>
							</div>
							<div class="about-box">
								<h2>About Us</h2>
								<p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
							</div>
							<div class="contact-info">
								<h2>Contact Info</h2>
								<ul class="list-style-one">
									<li><i class="bi bi-geo-alt-fill"></i>6391 Elgin St. Celina, Delaware</li>
									<li><i class="bi bi-telephone-fill"></i>(+001) 123-456-789</li>
									<li><i class="bi bi-envelope"></i> info@example.com</li>
									<li><i class="bi bi-alarm-fill"></i> Week Days: 08.00 to 10.00
									</li>
								</ul>
							</div>
							<ul class="social-box">
								<li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
								<li class="twitter"><a href="#" class="fab fa-instagram"></a></li>
								<li class="linkedin"><a href="#" class="fab fa-twitter"></a></li>
								<li class="instagram"><a href="#" class="fab fa-pinterest-p"></a></li>
								<li class="youtube"><a href="#" class="fab fa-linkedin-in"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Sidebar Area -->
	<!--==================================================-->