
	<!--==================================================-->
	<!-- Start Euildint Footer Area -->
	<!--==================================================-->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-wiget wow animate__zoomIn" style="visibility: visible;">
						<div class="footer-wiget-log">
							<a href="index.html"><img src="assets/images/footer/footer-logo.png" alt=""></a>
						</div>
						<div class="footer-wiget-text">
							<p>A farm is a plot of land that is used to grow crops and raise livestock, as in our farm, we raise sheep and sell their wool the word farm is also.</p>
						</div>
						<div class="footer-wiget-social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-wiget wow animate__slideInDown" style="visibility: visible;">
						<div class="footer-wiget-title">
							<h4>Our Services</h4>
						</div>
						<div class="footer-wiget-menu">
							<ul>
								<li><a href="#"><i class="bi bi-chevron-double-right"></i> Visualizing Architecture Daily</a></li>
								<li><a href="#"><i class="bi bi-chevron-double-right"></i> Dose of Architecture</a></li>
								<li><a href="#"><i class="bi bi-chevron-double-right"></i> Architizer Architecture Daily</a></li>
								<li><a href="#"><i class="bi bi-chevron-double-right"></i> Dose of Architecture</a></li>
								<li><a href="#"><i class="bi bi-chevron-double-right"></i> Visualizing Architecture</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-wiget wow animate__slideInDown" style="visibility: visible;">
						<div class="footer-wiget-title">
							<h4>Useful Links</h4>
						</div>
						<div class="footer-wiget-menu">
							<ul>
								<li><a href="#"><i class="bi bi-chevron-double-right"></i> News & Media </a></li>
								<li><a href="#"><i class="bi bi-chevron-double-right"></i> Sustainability </a></li>
								<li><a href="#"><i class="bi bi-chevron-double-right"></i> About Expertise</a></li>
								<li><a href="#"><i class="bi bi-chevron-double-right"></i> Our Team</a></li>
								<li><a href="#"><i class="bi bi-chevron-double-right"></i> Contacts</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 pr-0">
					<div class="foter-box">
						<div class="footer-wiget-title">
							<h4>Recent Projects</h4>
						</div>
						<div class="row">
							<div class="col-lg-4 col-sm-4">
								<div class="footer-recent-thumb">
									<img src="assets/images/footer/f-recent1.png" alt="">
								</div>
							</div>
							<div class="col-lg-4 col-sm-4">
								<div class="footer-recent-thumb">
									<img src="assets/images/footer/f-recent2.png" alt="">
								</div>
							</div>
							<div class="col-lg-4 col-sm-4">
								<div class="footer-recent-thumb">
									<img src="assets/images/footer/f-recent3.png" alt="">
								</div>
							</div>
							<div class="col-lg-4 col-sm-4">
								<div class="footer-recent-thumb">
									<img src="assets/images/footer/f-recent4.png" alt="">
								</div>
							</div>
							<div class="col-lg-4 col-sm-4">
								<div class="footer-recent-thumb">
									<img src="assets/images/footer/f-recent5.png" alt="">
								</div>
							</div>
							<div class="col-lg-4 col-sm-4">
								<div class="footer-recent-thumb">
									<img src="assets/images/footer/f-recent6.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-110">
				<div class="col-lg-6 col-md-12">
					<div class="copyright-text">
						<p>Copyright ©<a href="#">Website_Stock</a>All Rights Reserved.</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="footer-condition">
						<ul>
							<li><a href="#">Setting & privacy</a></li>
							<li><a href="#">Faqs</a></li>
							<li><a href="#">Support</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Footer Area -->
	<!--==================================================-->


	<!--==================================================-->
	<!-- Start Search Popup Area -->
	<!--==================================================-->
	<div class="search-popup">
		<button class="close-search style-two"><span class="flaticon-multiply"><i class="far fa-times-circle"></i></span></button>
		<button class="close-search"><i class="fas fa-arrow-up"></i></button>
		<form method="post" action="#">
			<div class="form-group">
				<input type="search" name="search-field" value="" placeholder="Search Here" required="">
				<button type="submit"><i class="fa fa-search"></i></button>
			</div>
		</form>
	</div>
	<!--==================================================-->
	<!-- End Search Popup Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start scrollup section Area -->
	<!--==================================================-->
	<!-- scrollup section -->
	 <div class="scroll-area">
		<div class="top-wrap">
			<div class="go-top-btn-wraper">
				<div class="go-top go-top-button">
					<i class="fas fa-arrow-up"></i>
					<i class="fas fa-arrow-up"></i>
				</div>
			</div>
		</div>
	</div>

	<!--==================================================-->
	<!-- End scrollup section Area -->
	<!--==================================================-->
