<!--==================================================-->
<div class="topbar-area d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="topbar-discription">
                    <p># 1 building & Renovation Company of Losangle City.</p>
                    <a href="#">Get Appointment Today</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="topbar-social-icon">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="topbar-btn">
            <a href="#">Book Schedule Now</a>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- End Euildint Top Bar Area -->
<!--==================================================-->

	<!--==================================================-->
	<!-- Start Euildint Header Area -->
	<!--==================================================-->
	<div class="header-area" id="sticky-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-3 col-md-6">
					<div class="header-logo">
						<a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
					</div>
				</div>
				<div class="col-lg-9 col-md-12">
					<!--start header menu -->
					<div class="header-munu">
						<ul>
							<li><a href="#">Home <i class="fas fa-chevron-down"></i></a>
								<div class="sub-menu">
									<ul>
										<li><a href="index.html">Home One</a></li>
										<li><a href="index-two.html">Home Two</a></li>
										<li><a href="index-three.html">Home Three</a></li>
									</ul>
								</div>
							</li>
							<li><a href="about.html">About</a></li>
							<li><a href="#">Pages <i class="fas fa-chevron-down"></i></a>
								<div class="sub-menu">
									<ul>
										<li><a href="project-pages.html">Project</a></li>
										<li><a href="project-details.html">Project Details</a></li>
										<li><a href="team.html">Team</a></li>
										<li><a href="team-details.html">Team Details</a></li>
										<li><a href="pricing.html">Pricing</a></li>
									</ul>
								</div>
							</li>
							<li><a href="#"> Service <i class="fas fa-chevron-down"></i></a>
								<div class="sub-menu">
									<ul>
										<li><a href="service.html">Service</a></li>
										<li><a href="service-details.html">Service Details</a></li>
									</ul>
								</div>
							</li>
							<li><a href="#">Blog <i class="fas fa-chevron-down"></i></a>
								<div class="sub-menu">
									<ul>
										<li><a href="blog-grid.html">Blog Grid</a></li>
										<li><a href="blog-standard.html">Blog Standard</a></li>
										<li><a href="blog-details.html">Blog Details</a></li>
									</ul>
								</div>
							</li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
						<div class="header-social">
							<ul>
								<li><a class="search-box-btn search-box-outer" href="#"><i class="bi bi-search"></i></a></li>
								<li class="line"><a class="navSidebar-button" href="#"><i class="bi bi-grid-3x3-gap-fill"></i></a></li>
							</ul>	
						</div>
					</div>
					<!-- end header menu -->
				</div>
			</div>
		</div>
	</div>

	<!--Mobile Menu Area -->
	<div class="mobile-menu-area sticky d-sm-block d-md-block d-lg-none ">
		<div class="mobile-menu">
			<nav class="Edulin_menu">
				<ul class="nav_scroll">
					<li><a href="#">Home</a>
						<div class="sub-menu">
							<ul>
								<li><a href="index.html">Home One</a></li>
								<li><a href="index-two.html">Home Two</a></li>
								<li><a href="index-three.html">Home Three</a></li>
							</ul>
						</div>
						</li>
						<li><a href="about-us.html">About</a></li>
						<li><a href="#">Pages</a>
							<div class="sub-menu">
								<ul>
									<li><a href="project-pages.html">Project</a></li>
									<li><a href="project-details.html">Project Details</a></li>
									<li><a href="team.html">Team</a></li>
									<li><a href="team-details.html">Team Details</a></li>
									<li><a href="pricing.html">Pricing</a></li>
								</ul>
							  </div>
						</li>
						<li><a href="#">Services</a>
							<div class="sub-menu">
								<ul>
									<li><a href="service.html">Services</a></li>
									<li><a href="service-details.html">Service Details</a></li>
								</ul>
							</div>
						</li>
						<li><a href="#">Blog</a>
							<div class="sub-menu">
								<ul>
									<li><a href="blog-grid.html">Blog Grid</a></li>
									<li><a href="blog-standard.html">Blog Standard</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							  </div>
						</li>
						<li><a href="#">Projects</a>
							<div class="sub-menu">
								<ul>
									<li><a href="project-pages.html">Project</a></li>
									<li><a href="project-details.html">Project Details</a></li>
								</ul>
							</div>
						</li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Header Area -->
	<!--==================================================-->
