
	<!--==================================================-->
	<!-- Start Euildint Breatcome Area -->
	<!--==================================================-->
	<div class="breatcome-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="breatcome-content">
						<div class="breatcome-title">
							<h1>Service Details</h1>
						</div>
						<div class="bratcome-text">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li>Service Details</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Breatcome Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Euildint Service Details Area -->
	<!--==================================================-->
	<div class="service-details-area wow animate__slideInUp">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="row">
						<div class="col-lg-12">
							<!-- start service details single box -->
							<div class="service-details-single-box mb-30">
								<div class="service-details-thumb">
									<img src="assets/images/service/service-details1.jpg" alt="">
								</div>
								<div class="service-details-content">
									<h4><a href="service-details.html">Building smart business solution for you</a></h4>
									<p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum a quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim var sed sed efficitur turpis gilla sed sit amet eros. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ndustry standard dummy text ever since the 1500s, when an unknown printer took a</p>
								</div>
							</div>
							<!-- End service details single box -->
						</div>
						<div class="col-lg-12">
							<!-- start service details single box -->
							<div class="service-details-single-box">
								<div class="service-details-thumb">
									<img src="assets/images/service/service-details2.jpg" alt="">
								</div>
								<div class="service-details-content">
									<h4><a href="service-details.html">Building Everything Best</a></h4>
									<p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum a quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim var sed sed efficitur turpis gilla sed sit amet eros. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ndustry standard dummy text ever since the 1500s, when an unknown printer took a</p>
								</div>
							</div>
							<!-- End service details single box -->
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<!-- start widget search box -->
					<div class="widget_search box">
						<form action="#" method="get">
							<input type="text" name="s" value="" placeholder="Search Here" title="Search for:">
							<button type="submit" class="icons">
								<i class="fa fa-search"></i>
							</button>
						</form>
					</div>
					<!-- End widget search box -->
					<div class="widget-categories-box">
						<div class="widget-catagories-title">
							<h4>Main Services</h4>
						</div>
						<!-- widget categories menu -->
						<div class="widget-categories-menu">
							<ul>
								<li><a href="service-details.html"> Business Solution <span><i class="bi bi-chevron-right"></i></span></a></li>	
								<li><a href="service-details.html"> Expert Mechanical <span><i class="bi bi-chevron-right"></i></span></a></li>
								<li><a href="service-details.html"> Architecture & Building <span><i class="bi bi-chevron-right"></i></span></a></li>
								<li><a href="service-details.html"> Construction Management <span><i class="bi bi-chevron-right"></i></span></a></li>
								<li><a href="service-details.html"> Apartment Design <span><i class="bi bi-chevron-right"></i></span></a></li>
								<li><a href="service-details.html"> Facade Engineering <span><i class="bi bi-chevron-right"></i></span></a></li>
							</ul>
						</div>
					</div>
					<div class="widget-categories-box">
						<!-- categories title -->
						<div class="widget-catagories-title">
							<h4> Tag Cloud </h4>
						</div>
						<div class="widget-tags">
							<a href="#">Services</a>
							<a href="#">Business</a>
							<a href="#">Grooming</a>
							<a href="#">Breeding</a>
							<a href="#">Growth</a>
							<a href="#">Stable</a>
							<a href="#">Education</a>
							<a href="#">America</a>
							<a href="#">Maintenance</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--==================================================-->
	<!-- End Euildint Service Service Details Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Euildint Brand Area -->
	<!--==================================================-->
	<div class="brand-area wow animate__slideInUp">
		<div class="container-fluid">
			<div class="row">
				<div class="brand_list owl-carousel">
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand1.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand2.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand3.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand4.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand5.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand6.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand1.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand2.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand3.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand4.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand5.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand6.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Brand Area -->
	<!--==================================================-->

		<!--==================================================-->
	<!-- Start Euildint Sidebar Area -->
	<!--==================================================-->
	<div class="sidebar-group info-group">
		<div class="sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						<i class="bi bi-x-lg"></i>
					</a>
				</div>
				<div class="sidebar-textwidget">
					<div class="sidebar-info-contents">
						<div class="content-inner">
							<div class="sidebar-logo">
								<a href="index.html"><img src="assets/images/logo2.png" alt="logo"></a>
							</div>
							<div class="about-box">
								<h2>About Us</h2>
								<p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
							</div>
							<div class="contact-info">
								<h2>Contact Info</h2>
								<ul class="list-style-one">
									<li><i class="bi bi-geo-alt-fill"></i>6391 Elgin St. Celina, Delaware</li>
									<li><i class="bi bi-telephone-fill"></i>(+001) 123-456-789</li>
									<li><i class="bi bi-envelope"></i> info@example.com</li>
									<li><i class="bi bi-alarm-fill"></i> Week Days: 08.00 to 10.00
									</li>
								</ul>
							</div>
							<ul class="social-box">
								<li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
								<li class="twitter"><a href="#" class="fab fa-instagram"></a></li>
								<li class="linkedin"><a href="#" class="fab fa-twitter"></a></li>
								<li class="instagram"><a href="#" class="fab fa-pinterest-p"></a></li>
								<li class="youtube"><a href="#" class="fab fa-linkedin-in"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Sidebar Area -->
	<!--==================================================-->
