
	<!--==================================================-->
	<!-- Start Euildint Breatcome Area -->
	<!--==================================================-->
	<div class="breatcome-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="breatcome-content">
						<div class="breatcome-title">
							<h1>Contact Us</h1>
						</div>
						<div class="bratcome-text">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li>Contact</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Breatcome Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Euildint Contact Us Area -->
	<!--==================================================-->
	<div class="contact-us-area">
		<div class="container">
			<div class="row mb-150">
				<div class="col-lg-4 col-md-6">
					<div class="contact-single-box">
						<div class="contact-icon">
							<i class="bi bi-telephone-x"></i>
						</div>
						<div class="contact-content">
							<h4>Phone Number</h4>
							<span>012-345-6789</span>
							<span>539-737-1380</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="contact-single-box">
						<div class="contact-icon">
							<i class="bi bi-envelope-open"></i>
						</div>
						<div class="contact-content">
							<h4>E-mail</h4>
							<span>inquiry@example.com</span>
							<span>info@example.com</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="contact-single-box two">
						<div class="contact-icon">
							<i class="bi bi-geo-alt"></i>
						</div>
						<div class="contact-content">
							<h4>Address</h4>
							<span>27 Division St, New York</span>
							<span>NY 10002, USA</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row contact">
				<div class="contact-box">
					<div class="contact-title">
						<h2>Have be any question?</h2>
						<h2>feel free to Contact</h2>
					</div>
					<form action="https://formspree.io/f/myyleorq" method="POST" id="it-form">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="form-box">
									<input type="text" name="name" placeholder="First Name">
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-box">
									<input type="text" name="name" placeholder="Last Name">
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-box">
									<input type="text" name="phone" placeholder="Phone">
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-box">
									<input type="text" name="email" placeholder="Email Address">
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-box">
									<input type="text" name="subject" placeholder="Subject">
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-box">
									<input type="text" name="website" placeholder="Website">
								</div>
							</div>
							<div class="col-lg-12 col-md-12">
								<div class="form-box">
									<textarea name="massage" id="massage" cols="30" rows="10" placeholder="Comment"></textarea>
								</div>
							</div>
							<div class="col-lg-12 col-md-12">
								<div class="form-box-button inner">
									<button type="Submit">Send Message</button>
								</div>
							</div>
						</div>
					</form>
					<div id="status"></div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Contact Us Area -->
	<!--==================================================-->

	<!--==================================================-->
	<!-- Start Euildint Map Area -->
	<!--==================================================-->
	<div class="map-area">
		<div class="container-fluid p-0">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7496149.95373021!2d85.84621250756469!3d23.452185887261447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30adaaed80e18ba7%3A0xf2d28e0c4e1fc6b!2sBangladesh!5e0!3m2!1sen!2sbd!4v1635150422284!5m2!1sen!2sbd" width="1920" height="608" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Map Area -->
	<!--==================================================-->




	<!--==================================================-->
	<!-- Start Euildint Brand Area -->
	<!--==================================================-->
	<div class="brand-area wow animate__slideInUp">
		<div class="container-fluid">
			<div class="row">
				<div class="brand_list owl-carousel">
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand1.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand2.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand3.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand4.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand5.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand6.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand1.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand2.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand3.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand4.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand5.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="brand-thumb">
							<a href="#"><img src="assets/images/brand/brand6.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Brand Area -->
	<!--==================================================-->

		<!--==================================================-->
	<!-- Start Euildint Sidebar Area -->
	<!--==================================================-->
	<div class="sidebar-group info-group">
		<div class="sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						<i class="bi bi-x-lg"></i>
					</a>
				</div>
				<div class="sidebar-textwidget">
					<div class="sidebar-info-contents">
						<div class="content-inner">
							<div class="sidebar-logo">
								<a href="index.html"><img src="assets/images/logo2.png" alt="logo"></a>
							</div>
							<div class="about-box">
								<h2>About Us</h2>
								<p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
							</div>
							<div class="contact-info">
								<h2>Contact Info</h2>
								<ul class="list-style-one">
									<li><i class="bi bi-geo-alt-fill"></i>6391 Elgin St. Celina, Delaware</li>
									<li><i class="bi bi-telephone-fill"></i>(+001) 123-456-789</li>
									<li><i class="bi bi-envelope"></i> info@example.com</li>
									<li><i class="bi bi-alarm-fill"></i> Week Days: 08.00 to 10.00
									</li>
								</ul>
							</div>
							<ul class="social-box">
								<li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
								<li class="twitter"><a href="#" class="fab fa-instagram"></a></li>
								<li class="linkedin"><a href="#" class="fab fa-twitter"></a></li>
								<li class="instagram"><a href="#" class="fab fa-pinterest-p"></a></li>
								<li class="youtube"><a href="#" class="fab fa-linkedin-in"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Euildint Sidebar Area -->
	<!--==================================================-->
